<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="English">

<link rel="stylesheet" href="style.css">

<body>

<h1>THE DRONE ZONE</h1>

<table class="buttons">
    <tr>
        <td>
            <button type="button">Start Production</button>
            <button type="button">Stop Production</button>
        </td>
    </tr>

</table>

<table class="tabledata">
    <tr>
        <td></td>
        <th>Warehouse</th>
        <th>AGV</th>
        <th>AssemblyStation</th>

    </tr>
    <tr>
        <td>Connection Status:</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Machine State:</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Current Operation:</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

</body>
</html>