<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="English">

<link rel="stylesheet" href="style.css">

<body>

<h1>THE DRONE ZONE</h1>

<!-- Setup grid container and declare all grid items,
numbers represent the cell number -->

<div class="grid-container">
    <div class="grid-item1">
        <button type="button">Start Production</button>
    </div>
    <div class="grid-item2">
        <button type="button">Stop Production</button>
    </div>
    <div class="grid-item3"></div>
    <div class="grid-item-warehouse">Warehouse</div>
    <div class="grid-item-agv">AGV</div>
    <div class="grid-item-assembly">Assembly Station</div>
    <div class="grid-item">Connection Status:</div>
    <div class="grid-item">7</div>
    <div class="grid-item">8</div>
    <div class="grid-item">9</div>
    <div class="grid-item">Machine State:</div>
    <div class="grid-item">11</div>
    <div class="grid-item">12</div>
    <div class="grid-item">13</div>
    <div class="grid-item">Current Operation:</div>
    <div class="grid-item">15</div>
    <div class="grid-item">16</div>
    <div class="grid-item">17</div>
</div>